.cajaRoja{

	position: relative;
	width: 100px;
	height: 100px;
	background-color: red;
	float: left;
	margin-left: 10px;
}

.cajaA{
	position: relative;
	width: 100px;
	height: 100px;
	background-color: blue;
	float: left;
	margin-right: 10px;
}